.sort {
  display: flex;
  justify-content: flex-end;

  &__option {
    margin-left: 5px;
  }

  &__btn {
    background-color: $secondary-color;
    color: #FFF;
    padding: 5px 10px;
    font-size: 1.8rem;
    opacity: 1;
    transition: background linear .2s, opacity linear .2s;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }

    &.active {
      background-color: $primary-color;
    }

    &.disable {
      opacity: .3;
      cursor: no-drop;
    }
  }
}