html {
  font-size: 10px;
}

body,
button {
  font-family: 'Open Sans', sans-serif;
}

.container {
  background-color: #FFF;
}

.main {
  max-width: 1024px;
  margin: 0 auto;
  padding: 5px;
}

@media (min-width: 640px) {
  html {
    font-size: 11px;
  }
}